* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 150px;
    max-height: 150px;
}

/* Game Stage Section */

h1 {
    text-align: center;
    padding: 30px;
    font-size: 3rem;
}

.game-stage.container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    row-gap: 50px;
    font-size: 1.5rem;
}

.game-stage.img {
    display: flex;
    column-gap: 120px;
    flex-flow: row wrap;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    text-align: center;
    font-weight: bold;
}

/* Choice Buttons Section */

.choices.img {
    display: flex;
    flex-flow: row wrap;
    column-gap: 150px;
    padding: 70px;
}

.choices button:hover {
    background-color: #e6dbdb;
}

.choices button:active {
    background-color: #d3d3d3;
}

.choices button {
    background-repeat: no-repeat;
    background-size: cover;
    width: 150px;
    height: 150px;
    border-radius: 15px;
    border: none;
    padding: 15px;
    background-origin: content-box;
}

.choices button.rock {
    background-image: url('./img/rock.png');
}

.choices button.paper {
    background-image: url('./img/paper.png');
}

.choices button.scissors {
    background-image: url('./img/scissors.png');
}